@import "../node_modules/picnic/picnic.min.css";
/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/inter-v3-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v3-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-regular - latin */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/ibm-plex-mono-v6-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/ibm-plex-mono-v6-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'bluu';
	font-weight: normal;
	font-style: normal;
	src: local(''), url('../fonts/bluunext-bold-webfont.woff2') format('woff2'),
		url('../fonts/bluunext-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'bluu';
	font-weight: normal;
	font-style: italic;
	src: local(''), url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/bluunext-bolditalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'bluu_nexttitling';
	font-weight: normal;
	font-style: normal;
	src: local(''), url('../fonts/bluunext-titling.woff2') format('woff2'),
		url('../fonts/bluunext-titling.woff') format('woff');
}

:root {
	--bg-color: #f8f8f8;
	--bg-secondary-color: #f3f3f6;
	--color-primary: #14854f;
	--color-lightGrey: #d2d6dd;
	--color-grey: #747681;
	--color-darkGrey: #3f4144;
	--color-error: #d43939;
	--color-success: #28bd14;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.7rem;
	--font-color: #333333;
	--font-family-sans: 'Inter';
	--font-family-mono: 'IBM Plex Mono';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'bluu';
}
